In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("produits.csv", encoding="latin",decimal=",")

df

,Code article,LIBELLE ARTICLE,FAMILLE ARTICLE,CONDITION,PU HT
0,1010,HUILE ARACHIDE 25 L,HUILES,BIDON,60.71
1,1011,HUILE ARACHIDE 5 L,HUILES,BIDON,14.33
2,1012,HUILE ARACHIDE 1 L,HUILES,BOUTE,2.87
3,1014,HUILE MEZZO 1 L (50%OLIVE50%TOURNESOL),HUILES,BOUTE,2.67
4,1015,HUILE COLZA 5 L,HUILES,BIDON,7.57
...,...,...,...,...,...
1858,35885,QUICHES LORRAINE 180G X14,SURGELES,CARTO,17.50
1859,35900,FARCIS NICOIS SG - SAC 2KG,SURGELES,CARTO,51.52
1860,35920,RAVIOLIS A LA NICOISE SG 2KG,SURGELES,SAC,40.90
1861,37718,COOKIES CHOCOLAT SG 76G X30,SURGELES,CARTO,29.65
1862,37720,COOKIES 3 CHOC LAIT EMB.INDIV.106GX30 SG,SURGELES,CARTO,32.75

In [3]:
df.rename(columns = {'Code article':'article_id'}, inplace = True)

df

,article_id,LIBELLE ARTICLE,FAMILLE ARTICLE,CONDITION,PU HT
0,1010,HUILE ARACHIDE 25 L,HUILES,BIDON,60.71
1,1011,HUILE ARACHIDE 5 L,HUILES,BIDON,14.33
2,1012,HUILE ARACHIDE 1 L,HUILES,BOUTE,2.87
3,1014,HUILE MEZZO 1 L (50%OLIVE50%TOURNESOL),HUILES,BOUTE,2.67
4,1015,HUILE COLZA 5 L,HUILES,BIDON,7.57
...,...,...,...,...,...
1858,35885,QUICHES LORRAINE 180G X14,SURGELES,CARTO,17.50
1859,35900,FARCIS NICOIS SG - SAC 2KG,SURGELES,CARTO,51.52
1860,35920,RAVIOLIS A LA NICOISE SG 2KG,SURGELES,SAC,40.90
1861,37718,COOKIES CHOCOLAT SG 76G X30,SURGELES,CARTO,29.65
1862,37720,COOKIES 3 CHOC LAIT EMB.INDIV.106GX30 SG,SURGELES,CARTO,32.75

In [4]:
df.rename(columns = {'LIBELLE ARTICLE':'libelle'}, inplace = True)

df

,article_id,libelle,FAMILLE ARTICLE,CONDITION,PU HT
0,1010,HUILE ARACHIDE 25 L,HUILES,BIDON,60.71
1,1011,HUILE ARACHIDE 5 L,HUILES,BIDON,14.33
2,1012,HUILE ARACHIDE 1 L,HUILES,BOUTE,2.87
3,1014,HUILE MEZZO 1 L (50%OLIVE50%TOURNESOL),HUILES,BOUTE,2.67
4,1015,HUILE COLZA 5 L,HUILES,BIDON,7.57
...,...,...,...,...,...
1858,35885,QUICHES LORRAINE 180G X14,SURGELES,CARTO,17.50
1859,35900,FARCIS NICOIS SG - SAC 2KG,SURGELES,CARTO,51.52
1860,35920,RAVIOLIS A LA NICOISE SG 2KG,SURGELES,SAC,40.90
1861,37718,COOKIES CHOCOLAT SG 76G X30,SURGELES,CARTO,29.65
1862,37720,COOKIES 3 CHOC LAIT EMB.INDIV.106GX30 SG,SURGELES,CARTO,32.75

In [5]:
df.rename(columns = {'PU HT':'prix'}, inplace = True)

df

,article_id,libelle,FAMILLE ARTICLE,CONDITION,prix
0,1010,HUILE ARACHIDE 25 L,HUILES,BIDON,60.71
1,1011,HUILE ARACHIDE 5 L,HUILES,BIDON,14.33
2,1012,HUILE ARACHIDE 1 L,HUILES,BOUTE,2.87
3,1014,HUILE MEZZO 1 L (50%OLIVE50%TOURNESOL),HUILES,BOUTE,2.67
4,1015,HUILE COLZA 5 L,HUILES,BIDON,7.57
...,...,...,...,...,...
1858,35885,QUICHES LORRAINE 180G X14,SURGELES,CARTO,17.50
1859,35900,FARCIS NICOIS SG - SAC 2KG,SURGELES,CARTO,51.52
1860,35920,RAVIOLIS A LA NICOISE SG 2KG,SURGELES,SAC,40.90
1861,37718,COOKIES CHOCOLAT SG 76G X30,SURGELES,CARTO,29.65
1862,37720,COOKIES 3 CHOC LAIT EMB.INDIV.106GX30 SG,SURGELES,CARTO,32.75

In [6]:
df.rename(columns = {'FAMILLE ARTICLE':'famille_id'}, inplace = True)

df

,article_id,libelle,famille_id,CONDITION,prix
0,1010,HUILE ARACHIDE 25 L,HUILES,BIDON,60.71
1,1011,HUILE ARACHIDE 5 L,HUILES,BIDON,14.33
2,1012,HUILE ARACHIDE 1 L,HUILES,BOUTE,2.87
3,1014,HUILE MEZZO 1 L (50%OLIVE50%TOURNESOL),HUILES,BOUTE,2.67
4,1015,HUILE COLZA 5 L,HUILES,BIDON,7.57
...,...,...,...,...,...
1858,35885,QUICHES LORRAINE 180G X14,SURGELES,CARTO,17.50
1859,35900,FARCIS NICOIS SG - SAC 2KG,SURGELES,CARTO,51.52
1860,35920,RAVIOLIS A LA NICOISE SG 2KG,SURGELES,SAC,40.90
1861,37718,COOKIES CHOCOLAT SG 76G X30,SURGELES,CARTO,29.65
1862,37720,COOKIES 3 CHOC LAIT EMB.INDIV.106GX30 SG,SURGELES,CARTO,32.75

In [7]:
df.rename(columns = {'CONDITION':'condition_id'}, inplace = True)

df

,article_id,libelle,famille_id,condition_id,prix
0,1010,HUILE ARACHIDE 25 L,HUILES,BIDON,60.71
1,1011,HUILE ARACHIDE 5 L,HUILES,BIDON,14.33
2,1012,HUILE ARACHIDE 1 L,HUILES,BOUTE,2.87
3,1014,HUILE MEZZO 1 L (50%OLIVE50%TOURNESOL),HUILES,BOUTE,2.67
4,1015,HUILE COLZA 5 L,HUILES,BIDON,7.57
...,...,...,...,...,...
1858,35885,QUICHES LORRAINE 180G X14,SURGELES,CARTO,17.50
1859,35900,FARCIS NICOIS SG - SAC 2KG,SURGELES,CARTO,51.52
1860,35920,RAVIOLIS A LA NICOISE SG 2KG,SURGELES,SAC,40.90
1861,37718,COOKIES CHOCOLAT SG 76G X30,SURGELES,CARTO,29.65
1862,37720,COOKIES 3 CHOC LAIT EMB.INDIV.106GX30 SG,SURGELES,CARTO,32.75

In [8]:
cols = list(df.columns.values)
cols

['article_id', 'libelle', 'famille_id', 'condition_id', 'prix']

Réordonner les colonnes

In [9]:
df = df[['article_id', 'libelle', 'prix', 'condition_id', 'famille_id']]
df

,article_id,libelle,prix,condition_id,famille_id
0,1010,HUILE ARACHIDE 25 L,60.71,BIDON,HUILES
1,1011,HUILE ARACHIDE 5 L,14.33,BIDON,HUILES
2,1012,HUILE ARACHIDE 1 L,2.87,BOUTE,HUILES
3,1014,HUILE MEZZO 1 L (50%OLIVE50%TOURNESOL),2.67,BOUTE,HUILES
4,1015,HUILE COLZA 5 L,7.57,BIDON,HUILES
...,...,...,...,...,...
1858,35885,QUICHES LORRAINE 180G X14,17.50,CARTO,SURGELES
1859,35900,FARCIS NICOIS SG - SAC 2KG,51.52,CARTO,SURGELES
1860,35920,RAVIOLIS A LA NICOISE SG 2KG,40.90,SAC,SURGELES
1861,37718,COOKIES CHOCOLAT SG 76G X30,29.65,CARTO,SURGELES
1862,37720,COOKIES 3 CHOC LAIT EMB.INDIV.106GX30 SG,32.75,CARTO,SURGELES

In [10]:
df

,article_id,libelle,prix,condition_id,famille_id
0,1010,HUILE ARACHIDE 25 L,60.71,BIDON,HUILES
1,1011,HUILE ARACHIDE 5 L,14.33,BIDON,HUILES
2,1012,HUILE ARACHIDE 1 L,2.87,BOUTE,HUILES
3,1014,HUILE MEZZO 1 L (50%OLIVE50%TOURNESOL),2.67,BOUTE,HUILES
4,1015,HUILE COLZA 5 L,7.57,BIDON,HUILES
...,...,...,...,...,...
1858,35885,QUICHES LORRAINE 180G X14,17.50,CARTO,SURGELES
1859,35900,FARCIS NICOIS SG - SAC 2KG,51.52,CARTO,SURGELES
1860,35920,RAVIOLIS A LA NICOISE SG 2KG,40.90,SAC,SURGELES
1861,37718,COOKIES CHOCOLAT SG 76G X30,29.65,CARTO,SURGELES
1862,37720,COOKIES 3 CHOC LAIT EMB.INDIV.106GX30 SG,32.75,CARTO,SURGELES

In [13]:
famille = df["famille_id"]

NameError: name 'key_id' is not defined

In [70]:
df.to_csv("format_prod.csv")

In [71]:
conditionement = df["condition_id"]
conditionement

0       BIDON
1       BIDON
2       BOUTE
3       BOUTE
4       BIDON
        ...
1858    CARTO
1859    CARTO
1860      SAC
1861    CARTO
1862    CARTO
Name: condition_id, Length: 1863, dtype: object

In [100]:
def create_dim_t(y): # créer un tableau dim avec clefs unique
    z = []
    for x in y :
    # check if exists in unique_list or not
        if x not in z:
            z.append(x)
    df = pd.DataFrame(z)
    return df

condition_id = create_dim_t(conditionement)
type(condition_id)
condition_id
condition_id.to_csv("condition_dim.csv")

In [73]:
famille = df["famille_id"]
famille

0         HUILES
1         HUILES
2         HUILES
3         HUILES
4         HUILES
          ...
1858    SURGELES
1859    SURGELES
1860    SURGELES
1861    SURGELES
1862    SURGELES
Name: famille_id, Length: 1863, dtype: object

In [74]:
famille_id = create_dim_t(famille)
type(famille_id)
famille_id
famille_id.to_csv("famille_dim.csv")
famille_id

                                      0
0                                HUILES
1                              FROMAGES
2                              CREMERIE
3                                  LAIT
4                   BEURRE ET MARGARINE
5                           CHARCUTERIE
6                      OEUFS ET DERIVES
7                  SAUCES ET CONDIMENTS
8           FONDS ET SAUCES DESHYDRATES
9                                OLIVES
10  CONSERVES LEGUMES ET PLATS PREPARES
11                  CONSERVES DE FRUITS
12                          FRUITS SECS
13                     CONFITURE - MIEL
14              PRODUITS DE  PATISSERIE
15                   PRODUITS DE LA MER
16            PATES ET AUTRES FECULENTS
17                               FARINE
18                                SUCRE
19                           CONFISERIE
20                              LEVURES
21                               VIANDE
22        BISCOTTES ET DERIVES BISCUITS
23                   EPICES ET AROMATES
24                    CAFE THE CHOCOLAT
25                    BOISSONS DIVERSES
26      ALCOOLS CHAMPAGNE MOUSSEUX VINS
27        PRODUITS HYGIENE ET ENTRETIEN
28                              JETABLE
29                             SURGELES

In [14]:
df

,article_id,libelle,prix,condition_id,famille_id
0,1010,HUILE ARACHIDE 25 L,60.71,BIDON,HUILES
1,1011,HUILE ARACHIDE 5 L,14.33,BIDON,HUILES
2,1012,HUILE ARACHIDE 1 L,2.87,BOUTE,HUILES
3,1014,HUILE MEZZO 1 L (50%OLIVE50%TOURNESOL),2.67,BOUTE,HUILES
4,1015,HUILE COLZA 5 L,7.57,BIDON,HUILES
...,...,...,...,...,...
1858,35885,QUICHES LORRAINE 180G X14,17.50,CARTO,SURGELES
1859,35900,FARCIS NICOIS SG - SAC 2KG,51.52,CARTO,SURGELES
1860,35920,RAVIOLIS A LA NICOISE SG 2KG,40.90,SAC,SURGELES
1861,37718,COOKIES CHOCOLAT SG 76G X30,29.65,CARTO,SURGELES
1862,37720,COOKIES 3 CHOC LAIT EMB.INDIV.106GX30 SG,32.75,CARTO,SURGELES

In [16]:
for x in df['condition_id']:
    if x == 'BIDON':
        df.pd.replace
    else :
        print('no')

yes
yes
no
no
yes
no
yes
yes
no
yes
no
no
no
no
no
no
yes
yes
no
no
no
no
yes
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
yes
yes
yes
no
no
no
yes
yes
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
yes
yes
yes
yes
yes
yes
no
no
no
no
no
yes
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
yes
no
yes
yes
yes
yes
yes
yes
no
no
no
no
no
no
no
no
yes
no
no
no
yes
yes
no
no
no
no
yes
yes
yes
yes
no
no
yes
yes
no
no
no
no
yes
no
yes
yes
yes
no
no
yes
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no