In [1]:
import pandas as pd

df = pd.read_csv("sales_data.csv", encoding="latin")

df

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

Chercher les Uniques pour chaque colonne

In [2]:
df.Age_Group.unique()

array(['Youth (<25)', 'Adults (35-64)', 'Young Adults (25-34)',
       'Seniors (64+)'], dtype=object)

In [5]:
df.Customer_Gender.unique()

array(['M', 'F'], dtype=object)

In [6]:
df.Country.unique()

array(['Canada', 'Australia', 'United States', 'Germany', 'France',
       'United Kingdom'], dtype=object)

In [18]:
df.State.unique()

print(len(df.State.unique()))

53

In [8]:
df.Product_Category.unique()

array(['Accessories', 'Clothing', 'Bikes'], dtype=object)

In [9]:
df.Sub_Category.unique()

array(['Bike Racks', 'Bike Stands', 'Bottles and Cages', 'Caps',
       'Cleaners', 'Fenders', 'Gloves', 'Helmets', 'Hydration Packs',
       'Jerseys', 'Mountain Bikes', 'Road Bikes', 'Shorts', 'Socks',
       'Tires and Tubes', 'Touring Bikes', 'Vests'], dtype=object)

In [19]:
print(len(df.Product.unique()))
df.Product.unique()

130

array(['Hitch Rack - 4-Bike', 'All-Purpose Bike Stand',
       'Mountain Bottle Cage', 'Water Bottle - 30 oz.',
       'Road Bottle Cage', 'AWC Logo Cap', 'Bike Wash - Dissolver',
       'Fender Set - Mountain', 'Half-Finger Gloves, L',
       'Half-Finger Gloves, M', 'Half-Finger Gloves, S',
       'Sport-100 Helmet, Black', 'Sport-100 Helmet, Red',
       'Sport-100 Helmet, Blue', 'Hydration Pack - 70 oz.',
       'Short-Sleeve Classic Jersey, XL',
       'Short-Sleeve Classic Jersey, L', 'Short-Sleeve Classic Jersey, M',
       'Short-Sleeve Classic Jersey, S', 'Long-Sleeve Logo Jersey, M',
       'Long-Sleeve Logo Jersey, XL', 'Long-Sleeve Logo Jersey, L',
       'Long-Sleeve Logo Jersey, S', 'Mountain-100 Silver, 38',
       'Mountain-100 Silver, 44', 'Mountain-100 Black, 48',
       'Mountain-100 Silver, 48', 'Mountain-100 Black, 38',
       'Mountain-200 Silver, 38', 'Mountain-100 Black, 44',
       'Mountain-100 Silver, 42', 'Mountain-200 Black, 46',
       'Mountain-200 Silver, 42', 'Mountain-200 Silver, 46',
       'Mountain-200 Black, 38', 'Mountain-100 Black, 42',
       'Mountain-200 Black, 42', 'Mountain-400-W Silver, 46',
       'Mountain-500 Silver, 40', 'Mountain-500 Silver, 44',
       'Mountain-500 Black, 48', 'Mountain-500 Black, 40',
       'Mountain-400-W Silver, 42', 'Mountain-500 Silver, 52',
       'Mountain-500 Black, 52', 'Mountain-500 Silver, 42',
       'Mountain-500 Black, 44', 'Mountain-500 Silver, 48',
       'Mountain-400-W Silver, 38', 'Mountain-400-W Silver, 40',
       'Mountain-500 Black, 42', 'Road-150 Red, 48', 'Road-150 Red, 62',
       'Road-750 Black, 48', 'Road-750 Black, 58', 'Road-750 Black, 52',
       'Road-150 Red, 52', 'Road-150 Red, 44', 'Road-150 Red, 56',
       'Road-750 Black, 44', 'Road-350-W Yellow, 40',
       'Road-350-W Yellow, 42', 'Road-250 Black, 44',
       'Road-250 Black, 48', 'Road-350-W Yellow, 48',
       'Road-550-W Yellow, 44', 'Road-550-W Yellow, 38',
       'Road-250 Black, 52', 'Road-550-W Yellow, 48', 'Road-250 Red, 58',
       'Road-250 Black, 58', 'Road-250 Red, 52', 'Road-250 Red, 48',
       'Road-250 Red, 44', 'Road-550-W Yellow, 42',
       'Road-550-W Yellow, 40', 'Road-650 Red, 48', 'Road-650 Red, 60',
       'Road-650 Black, 48', 'Road-350-W Yellow, 44', 'Road-650 Red, 52',
       'Road-650 Black, 44', 'Road-650 Red, 62', 'Road-650 Red, 58',
       'Road-650 Black, 60', 'Road-650 Black, 58', 'Road-650 Black, 52',
       'Road-650 Black, 62', 'Road-650 Red, 44',
       "Women's Mountain Shorts, M", "Women's Mountain Shorts, S",
       "Women's Mountain Shorts, L", 'Racing Socks, L', 'Racing Socks, M',
       'Mountain Tire Tube', 'Touring Tire Tube', 'Patch Kit/8 Patches',
       'HL Mountain Tire', 'LL Mountain Tire', 'Road Tire Tube',
       'LL Road Tire', 'Touring Tire', 'ML Mountain Tire', 'HL Road Tire',
       'ML Road Tire', 'Touring-1000 Yellow, 50', 'Touring-1000 Blue, 46',
       'Touring-1000 Yellow, 60', 'Touring-1000 Blue, 50',
       'Touring-3000 Yellow, 50', 'Touring-3000 Blue, 54',
       'Touring-3000 Blue, 58', 'Touring-3000 Yellow, 44',
       'Touring-3000 Yellow, 54', 'Touring-3000 Blue, 62',
       'Touring-3000 Blue, 44', 'Touring-1000 Blue, 54',
       'Touring-1000 Yellow, 46', 'Touring-1000 Blue, 60',
       'Touring-3000 Yellow, 62', 'Touring-1000 Yellow, 54',
       'Touring-2000 Blue, 54', 'Touring-3000 Blue, 50',
       'Touring-3000 Yellow, 58', 'Touring-2000 Blue, 46',
       'Touring-2000 Blue, 50', 'Touring-2000 Blue, 60',
       'Classic Vest, L', 'Classic Vest, M', 'Classic Vest, S'],
      dtype=object)

In [13]:
print(len(df.Date.unique()))

1884

In [17]:
print(len(df.Customer_Age.unique()))

70